$RECYCLE.BIN/
*.cab
*.lnk
*.log
*.msi
*.msm
*.msp
*.pid
*.seed
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.directory
.fseventsd
.lock-wscript
.node_repl_history
.npm
.nyc_output
Desktop.ini
Icon
Network Trash Folder
Temporary Items
Thumbs.db
build/Release
coverage
ehthumbs.db
lib-cov
logs
node_modules
npm-debug.log*
pids
