
// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

card
  background: white
  white-space: nowrap

  & > header
  & > footer
    background: rgb(219, 219, 219)
    padding: 1rem 1.5rem
    border-radius: .4rem
    font-size: 86%

  & > body
    border-radius: 0
    display: block
    padding: 1rem 1.5rem
