
// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button
	margin-bottom: 1.0rem

input,
textarea,
select,
fieldset
	margin-bottom: 1.5rem

.card,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form
	margin-bottom: 2.5rem
