
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong
	font-weight: bold

p
	margin-top: 0

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: $base-font-weight
	letter-spacing: -.1rem
	margin-bottom: $rem * 2
	margin-top: 0

h1
	font-size: $rem * 4.6
	line-height: $typo-line-height

h2
	font-size: $rem * 3.6
	line-height: $typo-line-height + .05

h3
	font-size: $rem * 2.8
	line-height: $typo-line-height + .1

h4
	font-size: $rem * 2.2
	letter-spacing: -.08rem
	line-height: $typo-line-height + .15

h5
	font-size: $rem * 1.8
	letter-spacing: -.05rem
	line-height: $typo-line-height + .3

h6
	font-size: $rem * 1.6
	letter-spacing: 0
	line-height: $typo-line-height + .2
